.shippingAddress {
  font-size: 20px;
  width: 50%;
}

.flex1 {
  flex: 1;
}

.fields {
  width: 79%;
  display: block;
  margin: 10px;
  padding: 5px;
}
.error {
  border: solid 1px red;
}

.errorText {
  color: red;
  font-size: 10px;
  margin-left: 12px;
}
